<%= link_to("< Back", member_path(@collection.owner_id)) %>

<h1>Add to personal reading list</h1>
<%= form_with(url: add_collection_path(@collection.id), method: "post", class: "pure-form-stacked") do %>
    <%= label_tag(:title, "Title") %>
    <%= text_field_tag(:title) %>
    <%= label_tag(:author, "Author") %>
    <%= text_field_tag(:author) %>
    <%= hidden_field(nil, :owner_type, value: Member.name)%>
    <%= hidden_field(nil, :collection_type, value: Collection::Types::TO_READ)%>
    <%= submit_tag("Add") %>
<% end %>