<h2><%= @club.name %></h2>

<p><b>Next meeting: <%= @overview.next_meeting_date %></b></p>
<b>
    <%= @overview.voted_members_count %> of <%= @overview.total_members %> members have voted. 
</b>

<table id="nominated-books", class="pure-table-horizontal">
    <%= render(@overview.books) %>
</table>

<script>
$("small[data-toggle-show]").click( function(e){
    description = $("#" + $(this).data("toggle-show"))

    if(description.attr('hidden')) {
        $(this).text("Less");
        description.removeAttr('hidden');
    } else {
        $(this).text("More");
        description.attr('hidden', true);
    }
});
</script>