<h2><%= @overview.club_name %></h2>

<h3>Members</h3>
<span id="toggle-members-list">See Members ></span>
<ul id="members-list" hidden=true>
  <% @overview.members.each do |member| %>
    <li><a href=<%= "/members/#{member.id}" %>><%= member.first_name %></a></li>
  <% end %>
</ul>

<h3>Upcoming Meetings</h3>

<ul>
  <%= render(@overview.meetings) %>
</ul>
<a class="pure-button" href="/meetings/new">New Meeting</a>


<h3>Nominated Books</h3>

<table id="nominated-books", class="pure-table-horizontal">
    <%= render(@overview.books) %>
</table>
<%= link_to("Nominate a new book",
      new_nomination_path,
      class: "pure-button"
    ) if @overview.member_can_nominate? %>

<script>
$("small[data-toggle-show]").click( function(e){
    description = $("#" + $(this).data("toggle-show"))

    if(description.attr('hidden')) {
        $(this).text("Less");
        description.removeAttr('hidden');
    } else {
        $(this).text("More");
        description.attr('hidden', true);
    }
});

$("td[data-toggle-actions]").click( function(e){
  menu = $("#" + $(this).data("toggle-actions"))

  if (menu.hasClass("show")) {
    $(this).removeClass("active")
    menu.removeClass("show")
  } else {
    $(this).addClass("active")
    menu.addClass("show")
  }
});

$(window).click( function(e){
  if (!e.target.matches(".nomination-actions")) {
    $(".active").removeClass("active")
    $(".show").removeClass("show");
  }
});

$("#toggle-members-list").click( function(e){
  list = $("#members-list")

  if(list.attr("hidden")) {
    $(this).text("Collapse X")
    list.removeAttr("hidden")
  } else {
    $(this).text("See Members >")
    list.attr("hidden", true)
  }
});
</script>
