<tr class="pure-g nominated-book-<%= nominated_book.nomination.id %>">

    <!-- Upvote Button -->
    <td class="pure-u-1-4 upvotes-<%= nominated_book.nomination.id %>">
        <% if nominated_book.upvoted_by?(@current_user) %>
            <%= link_to(downvote_nomination_path(nominated_book.nomination), { remote: true, method: :delete, class: "pure-button"}) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="fas fa-thumbs-up"></i>
            <% end %>
        <% else %>
            <%= link_to(nomination_path(nominated_book.nomination.id), { remote: true, method: :put, class: "pure-button" }) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="far fa-thumbs-up"></i>
            <% end %>
        <% end %>
    </td>

    <!-- Book details -->
    <td class="pure-u-1-2">
        <span>
            <span><%= "#{nominated_book.title} by #{nominated_book.author}" %></span>
            <small data-toggle-show="description-<%= nominated_book.nomination.id %>">More</small>
        <span>
        <p>
            <small id="description-<%= nominated_book.nomination.id %>" hidden>
                <%= nominated_book.description %>
            </small>
        </p>
    </td>

    <!-- Nomination Actions -->
    <td
      data-toggle-actions="dropdown-<%= nominated_book.nomination.id %>" 
      class="nomination-actions pure-u-1-4"
    >
      <div class="nomination-actions-dropdown" id="dropdown-<%= nominated_book.nomination.id %>">
        <ul>
          <li><%= render partial: "nominations/book_link", object: nominated_book %></li>
          <li>
            <%= link_to(mark_read_book_path(nominated_book.book.id), { remote: true, method: :post}) do %>
              <i class="fas fa-book" title="Mark as Read"></i>
              <span>Mark read</span>
            <% end %>
          </li>
          <li>
            <%= link_to("X Remove", nomination_path(nominated_book.nomination.id), { remote: true, method: :delete}) if nominated_book.nominated_by?(@current_user) %>
          </li>
        </ul>
      </div>
    </td>
</tr>
