<li class="nominated-book-<%= nominated_book.nomination.id %>">
    <span class="upvotes-<%= nominated_book.nomination.id %>">
        <% if nominated_book.upvoted_by?(@current_user) %>
            <%= link_to(downvote_nomination_path(nominated_book.nomination), { remote: true, method: :delete, class: "pure-button"}) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="fas fa-thumbs-up"></i>
            <% end %>
        <% else %>
            <%= link_to(nomination_path(nominated_book.nomination.id), { remote: true, method: :put, class: "pure-button" }) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="far fa-thumbs-up"></i>
            <% end %>
        <% end %>
    </span>
    <span><%= "#{nominated_book.title} by #{nominated_book.author}" %></span>
    <span><%= render partial: "book_link", object: nominated_book %></span>
</li>