<tr class="nominated-book-<%= nominated_book.nomination.id %>">
    <td class="upvotes-<%= nominated_book.nomination.id %>">
        <% if nominated_book.upvoted_by?(@current_user) %>
            <%= link_to(downvote_nomination_path(nominated_book.nomination), { remote: true, method: :delete, class: "pure-button"}) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="fas fa-thumbs-up"></i>
            <% end %>
        <% else %>
            <%= link_to(nomination_path(nominated_book.nomination.id), { remote: true, method: :put, class: "pure-button" }) do %>
                <span><%= nominated_book.upvotes %></span>
                <i class="far fa-thumbs-up"></i>
            <% end %>
        <% end %>
    </td>
    <td>
        <span>
            <span><%= "#{nominated_book.title} by #{nominated_book.author}" %></span>
            <small data-toggle-show="description-<%= nominated_book.nomination.id %>">More</small>
        <span>
        <p>
            <small id="description-<%= nominated_book.nomination.id %>" hidden>
                <%= nominated_book.description %>
            </small>
        </p>
    </td>
    <td><%= render partial: "book_link", object: nominated_book %></td>
    <td><%= link_to("X", nomination_path(nominated_book.nomination.id), { remote: true, method: :delete}) if nominated_book.nominated_by?(@current_user) %></td>
</tr>
