<%= form_with(url: "/sessions/#{session[:user_id]}", method: "delete") do %>
    <% submit_tag("Logout") %>
<% end %>

<h1>Book Nominations</h1>

<% @books.each do |book| %>
    <li>
        <span class="upvotes-<%= book.nomination.id %>">
            <span><%= book.upvotes %></span>
            <%= link_to(nomination_path(book.nomination.id), remote: true, method: :put) do %>
                <i class="lni-thumbs-up"></i>
            <% end %>
        </span>
        <span><%= "#{book.title} by #{book.author}" %></span>
    </li>
<% end %>

<%= link_to("Nominate a new book", new_nomination_path) %>
