<h1>Book Search</h1>
<%= form_with(url: "/book_search", method: "get", class: "pure-form-stacked") do %>
    <%= label_tag(:title, "Title") %>
    <%= text_field_tag(:title) %>
    <%= label_tag(:author, "Author") %>
    <%= text_field_tag(:author) %>
    <%= hidden_field(nil, :actions, value: :nominate) %>
    <%= submit_tag("Search") %>
<% end %>

<div id="book-search-results">