<!DOCTYPE html>
<html>
  <head>
    <title>Bookclub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/84c3412e64.js" crossorigin="anonymous"></script> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-4-24"></div>
      <div class="pure-u-8-24">
        <header>
          <ul class="pure-horizontal-menu">
            <p> Hello, <% @current_user.member.first_name %> </p>
            <%= link_to("My account", "/account") %>
            <%= form_with(url: "/sessions/#{session[:user_id]}", method: "delete", class: "sm-right") do %>
                <% submit_tag("Logout") %>
            <% end %>
          </ul>
        </header>
        <%= yield %>
      </div>
      <div class="pure-u-4-24"></div>
    </div>
  </body>
</html>
